<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Torrent Streaming</title>

        <script src="js/jquery.min.js"></script>
        <script src="./js/bower_components/angular/angular.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/socket.io.js"></script>

        <script src="./js/controllers/app.factory.js"></script>
        <script src="./js/controllers/app.torrentCtrl.js"></script>
        <script src="./js/controllers/app.playerCtrl.js"></script>
        <script src="./js/controllers/controllers.js"></script>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

    </head>
    <body ng-controller="torrentCtrl as torrent">
        <form ng-submit="torrent.start(torrent.magnet)">
        <div class="input-group input-group-lg">
            <input ng-model="torrent.magnet" type="text" class="form-control" placeholder="Magnet">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">Go!</button>
                <button ng-show="torrent.n_of_files > 0" ng-click="torrent.stop_stream()" class="btn btn-danger" type="button"> 
                    <span class="glyphicon glyphicon-remove"></span> 
                </button>
            </span>
        </div>
        </form>
        <h4>
            <div class="container-fluid">
            <div class="alert row" role="alert" 
                ng-class="{'alert-success' : torrent.server_status.class == 'success',
                'alert-danger' : torrent.server_status.class == 'error',
                'alert-info' : torrent.server_status.class == 'information'}"
            >
                <div class="col-xs-6">
                    Status: {{torrent.server_status.status}}
                </div>
                <div class="col-xs-6 text-right">
                    Speed: {{torrent.download_speed || '0kb/s'}}
                </div>
            </div>
            </div>
        </h4>
        <div ng-show="torrent.selected_file != undefined" ng-controller="playerCtrl as player">
            <h3>Currently streaming:
            <a ng-href="{{torrent.address_streaming}}" target="_blank">{{torrent.selected_file.name}}</a>
            <button ng-click="torrent.set_watch_on_browser(true)" ng-show="!torrent.watch_on_browser" class="btn btn-primary">Watch on browser <span class="glyphicon glyphicon-film"></span></button>
            <button ng-click="torrent.set_watch_on_browser(false)" ng-show="torrent.watch_on_browser" class="btn btn-info">Watch on TV <span class="glyphicon glyphicon-film"></span></button>
            </h3>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                    aria-label="Start" ng-click="player.start(torrent.address_streaming, torrent.lang, torrent.selected_file.name)">
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </button>

                <button ng-show="!player.is_playing" type="button" class="btn btn-default"
                    aria-label="Play" ng-click="player.pause()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button ng-show="player.is_playing" type="button" class="btn btn-default" 
                    aria-label="Pause" ng-click="player.pause()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" 
                     aria-label="StepBackward" ng-click="player.backward()">
                     <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" 
                     aria-label="StepForward" ng-click="player.forward()">
                     <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" 
                     aria-label="Stop" ng-click="player.stop()">
                     <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                    aria-label="VolumeDown" ng-click="player.volume_down()">
                    <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default"
                    aria-label="VolumeUp" ng-click="player.volume_up()">
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                </button>
            </div>
            <select class="selectpicker" ng-model="torrent.lang" ng-change="torrent.lang_change()">
                <option value="">Subtitles</option>
                <option value="">None</option>
                <option value="{{key}}" ng-repeat="(key,obj) in torrent.languages">{{obj}}</option>
            </select>
            <div ng-show="torrent.lang != ''">
                <span ng-show="torrent.has_subtitle == 0">
                Searching for {{ torrent.languages[torrent.lang] }} subtitles for file {{ torrent.subs_file }}
                </span>
                <span ng-show="torrent.has_subtitle == 1">
                {{ torrent.languages[torrent.lang] }} subtitles found for file {{ torrent.subs_file }}
                </span>
                <span ng-show="torrent.has_subtitle == -1">
                {{ torrent.languages[torrent.lang] }} subtitles were not found for file {{ torrent.subs_file }}
                </span>
            </div>
        </div>
        <div ng-show="torrent.n_of_files > 0">
            <hr>
            <h3>Available files 
                        <button ng-show="!torrent.fetch_all" ng-click="torrent.fetch_all_toggle()" class="btn btn-primary">Pre-fetch all files <span class="glyphicon glyphicon-download"></span></button>
                        <button ng-show="torrent.fetch_all" ng-click="torrent.fetch_all_toggle()" class="btn btn-info">Cancel pre-fetch all files<span class="glyphicon glyphicon-download"></span></button>
            </h3>
            <br><br>
            <!--<ul class="list-group">-->
                <div ng-repeat="file in torrent.files | orderObjectBy: 'name'">
                <div class="container-fluid" style="margin-left: 1%; margin-right: 5%">
                <div class="row">
                    <span class="col-md-8">
                        <h4>{{file.name}}</h4>
                    </span>
                    <span ng-show="torrent.selected_file != file" class="col-md-1 pull-right">
                        <button ng-show="torrent.selected_file != file && !file.fetch" ng-click="torrent.fetch_toggle(file)" class="btn btn-primary">Pre-fetch <span class="glyphicon glyphicon-download"></span></button>
                        <button ng-show="torrent.selected_file != file && file.fetch" ng-click="torrent.fetch_toggle(file)" class="btn btn-info">Cancel pre-fetch <span class="glyphicon glyphicon-download"></span></button>
                    </span>
                    <span  class="col-md-1 pull-right">
                        <button ng-show="torrent.selected_file != file" ng-click="torrent.begin_stream(file)"  class="btn btn-primary">Stream <span class="glyphicon glyphicon-film"></span></button>
                        <button ng-show="torrent.selected_file == file" ng-click="torrent.move_to_top()" class="btn btn-success">Streaming <span class="glyphicon glyphicon-film"></span></button>
                    </span>
                </div>
                <div class="row">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{file.completed}}%;">{{file.completed}}%
                            </div>
                        </div>
                </div>
                <hr>
                </div>
                </div>
                </div>
            </div>
            <!--</ul>-->
        </div>

    </body>
</html>
