<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Torrent Streaming</title>

        <script src="js/jquery.min.js"></script>
        <script src="./js/bower_components/angular/angular.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/socket.io.js"></script>

        <script src="./js/controllers/app.factory.js"></script>
        <script src="./js/controllers/app.torrentCtrl.js"></script>
        <script src="./js/controllers/controllers.js"></script>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body ng-controller="torrentCtrl as torrent">
        <form ng-submit="torrent.start(magnet)">
        <div class="input-group input-group-lg">
            <input ng-model="magnet" type="text" class="form-control" placeholder="Magnet">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        </form>
        <h4>
            <div class="alert row" role="alert" 
                ng-class="{'alert-success' : torrent.server_status.class == 'success',
                'alert-danger' : torrent.server_status.class == 'error',
                'alert-info' : torrent.server_status.class == 'information'}"
            >
                <div class="col-xs-6">
                    Status: {{torrent.server_status.status}}
                </div>
                <div class="col-xs-6 text-right">
                    Speed: {{torrent.download_speed || '0kb/s'}}
                </div>
            </div>
        </h4>
        <div ng-show="torrent.selected_file != undefined">
            <h3>Currently streaming {{torrent.selected_file.name}}</h3>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" aria-label="Play">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Pause">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
                 <button type="button" class="btn btn-default" aria-label="StepBackward">
                     <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                </button>
                 <button type="button" class="btn btn-default" aria-label="StepForward">
                     <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div ng-show="torrent.n_of_files > 0">
            <hr>
            <h3>Available files 
                        <button ng-show="!torrent.fetch_all" ng-click="torrent.fetch_all_toggle()" class="btn btn-primary">Pre-fetch all files <span class="glyphicon glyphicon-download"></span></button>
                        <button ng-show="torrent.fetch_all" ng-click="torrent.fetch_all_toggle()" class="btn btn-info">Cancel pre-fetch all files<span class="glyphicon glyphicon-download"></span></button>
            </h3>
            <!--<ul class="list-group">-->
                <div ng-repeat="file in torrent.files | orderObjectBy: 'name'">
                <div class="row">
                    <div class="col-md-5">
                        <h4>{{file.name}}</h4>
                        <button ng-click="torrent.begin_stream(file)" ng-show="torrent.selected_file != file" class="btn btn-primary">Stream <span class="glyphicon glyphicon-film"></span></button>
                        <button ng-click="torrent.move_to_top()" ng-show="torrent.selected_file == file" class="btn btn-success">Streaming! <span class="glyphicon glyphicon-film"></span></button>
                        <button ng-show="torrent.selected_file != file && !file.fetch" ng-click="torrent.fetch_toggle(file)" class="btn btn-primary">Pre-fetch <span class="glyphicon glyphicon-download"></span></button>
                        <button ng-show="torrent.selected_file != file && file.fetch" ng-click="torrent.fetch_toggle(file)" class="btn btn-info">Cancel pre-fetch <span class="glyphicon glyphicon-download"></span></button>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{file.completed}}%;">{{file.completed}}%
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                </div>
            <!--</ul>-->
        </div>
    </body>
</html>
